/* .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
} */

.book-info {
  font-family: "gotham";
  width: 75%;
}

.title {
  font-size: 2.8rem;
}

.author {
  font-size: 2.6rem;
}

.description {
  font-size: 1.2rem;
}