.booklist-items {
  padding: 1rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;

}

.booklist {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 3px solid #929aab;
}