.booklist-item {
  display: flex;
  justify-content: space-between;
  transition: background-color 0.2s;
  border-radius: 5px;
  padding: 0.5rem;
}

.booklist-item:hover {
  background-color: #929aab;
  color: #f7f7f7;
}

.booklist-content {
  font-family: "gotham";
  display: flex;
  cursor: pointer;
}

.booklist-content:not(:last-child) {
  margin-bottom: 10px;
}

.book-logo {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  border-radius: 205px;
}

.information {
  padding-left: 7px;
}

.image {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.title,
.author {
  padding-bottom: 3px;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.description {
  font-size: 0.9rem;
}

.buttons {
  display: flex;
}

.edit-icon,
.delete-icon {
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0.7;
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 1;
}